.ipynb_checkpoints
*.pyc
.DS_Store
*.o
msaf/algorithms/cc/segmenter
msaf/algorithms/cc/cc_segmenter.so
.ropeproject
*.swp
msaf/paper/NietoFarboodBello-ISMIR2014.aux
msaf/paper/NietoFarboodBello-ISMIR2014.bbl
msaf/paper/NietoFarboodBello-ISMIR2014.blg
msaf/paper/NietoFarboodBello-ISMIR2014.log
msaf/paper/NietoFarboodBello-ISMIR2014.pdf
msaf/paper/NietoFarboodBello-ISMIR2014.synctex
msaf/paper/NietoHumphreyFarboodBello-ISMIR2014.aux
msaf/paper/NietoHumphreyFarboodBello-ISMIR2014.bbl
msaf/paper/NietoHumphreyFarboodBello-ISMIR2014.blg
msaf/paper/NietoHumphreyFarboodBello-ISMIR2014.log
msaf/paper/NietoHumphreyFarboodBello-ISMIR2014.pdf
msaf/paper/NietoHumphreyFarboodBello-ISMIR2014.synctex
msaf/results/*.csv
build
dist
msaf.egg-info
