.ipynb_checkpoints
*.pyc
.DS_Store
*.o
algorithms/levy/segmenter
algorithms/olda/code/AnnotBeats.npy
algorithms/olda/code/EstBeats.npy
.ropeproject
*.swp
algorithms/olda/paper/segments.dvi
algorithms/olda/paper/segments.pdf
paper/NietoFarboodBello-ISMIR2014.aux
paper/NietoFarboodBello-ISMIR2014.bbl
paper/NietoFarboodBello-ISMIR2014.blg
paper/NietoFarboodBello-ISMIR2014.log
paper/NietoFarboodBello-ISMIR2014.pdf
paper/NietoFarboodBello-ISMIR2014.synctex
