sudo: true

addons:
  apt:
    packages:
    - ffmpeg

cache:
  directories:
  - $HOME/env

language: python

notifications:
  email: false

python:
    - "2.7"
    - "3.4"
    - "3.5"
    - "3.6"

before_install:
    - bash .travis_dependencies.sh
    - export PATH="$HOME/env/miniconda$TRAVIS_PYTHON_VERSION/bin:$PATH";
    - hash -r
    - source activate test-environment
    - sudo apt-get install liblapack-dev

before_script: # configure a headless display to test plot generation
    - "export DISPLAY=:99.0"
    - "sh -e /etc/init.d/xvfb start"
    - sleep 3 # give xvfb some time to start

install:
    # install your own package into the environment
    # pip install -e rather than setup.py, so that coverage can find the source
    - pip install -e .

script:
    - python --version
    - nosetests --with-coverage --cover-package=msaf -v -w tests/

after_success:
    - coveralls
    - pip uninstall -y msaf

after_failure:
    - pip uninstall -y msaf
