jams==0.3.2
joblib==0.11
scipy==1.1.0
mir_eval==0.4
pandas==0.23.1
librosa==0.6.1
six==1.11.0
numpy==1.22.0
matplotlib==2.2.2
msaf==0.1.70
scikit_learn==0.19.1
numpydoc==0.8.0
sphinx-rtd-theme==0.2.4
